<div class="sixteen columns clearfix collection_nav center">
  <h1 class="collection_title">Page Not Found</h1>
</div>

<div class="sixteen columns">
  <div class="section clearfix">
    <p class="quote">
      Sorry! Something's gone wrong. Check the URL and start over in the search box, or use the links below to navigate our website.
    </p>
  </div>
</div>

<div class="section clearfix align_center">
  <div class="sixteen columns center">
    <p class="extra_padding">
      
    </p>
  </div>
  <div class="eight columns offset-by-four">
    <form class="search" action="/search">
      <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms }}" style="width: 100%" />
    </form>
  </div>
  <br class="clear" />
  <a href="/" class="action_button fluid-block">Go Back to Homepage</a>
  <a href="/account" class="action_button fluid-block">Login</a>
  <a href="/collections/all-programs" class="action_button fluid-block">View Our Programs</a>
  <br class="clear" />
  <br class="clear" />
</div>
